[Unit]
Description=MTP protocol server
After=sm.puri.Phosh.service
StartLimitIntervalSec=30
StartLimitBurst=60

[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/mtp-server
