#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
# export DH_VERBOSE=1

export DPKG_GENSYMBOLS_CHECK_LEVEL = 4

%:
	dh $@ --with translations

override_dh_missing:
	dh_missing --fail-missing

execute_after_dh_installsystemduser:
	dh_installsystemduser -p mtp-server --name=mtp-server-usb-moded-watcher
